.table-admin table thead tr {
    background-color: #9DC183;
    color: white;
}
.table-admin table thead tr th {
    text-align: center;
}
.cart-table td {
    text-align: center;
}
.cart-table .gambar{
    width: 20%;
}
.cart-table .gambar img {
    width: 140px;
    height: 100px;
}
/* .cart-table .nama {
    text-align: center;
    width: 15%;
}
.cart-table .jumlah-produk {
    width: 15%;
}
.harga {
    width: 15%;
}
.aksi {
    width: 20%;
} */
.tombol {
    border: none;
    padding: 5% 7%;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.delete {
    background-color: red;
}
.total {
    margin-left: 10%;
}
.checkout button{
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: orange;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
}

@media only screen and (max-width: 550px) {
    .table-admin tr th {
        font-size: 12px;
    }
    .table-admin tr td {
        font-size: 11px;
        line-height: 12px;
    }
    .cart-table .gambar{
        width: 10%;
    }
    .cart-table .gambar img {
        width: 80px;
        height: 60px;
    }
    .cart-table .nama {
        width: 15%;
    }
    .cart-table .jumlah-produk {
        width: 10%;
    } 
    .cart-table.harga {
        width: 10%;
    } 
    .tombol {
        font-size: 10px;
        padding: 8% 10%;
    }
    .total {
        font-size: 14px;
    }
    .checkout button{
        padding: 5px 20px;
        font-size: 13px;
        margin-left: 5%;
    }    
}