.body {
  padding: 10% 25%;
}
.card-profil {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  max-width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
}
.card-profil h2 {
  margin: 0;
  padding: 0 1rem;
}
.card-profil .title {
  padding: 1rem;
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 12px;
}
.card-profil .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
}
.card-profil .actions {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}

.img-avatar img{
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid white;
  top: 15px;
  left: 25%;
}
 .card-text1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}
.portada img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-position: bottom center;
  background-size: cover;
}
.actions li span {
  padding-left: 2%;
}
.actions li i {
  border: none;
  background: none;
  font-size: 24px;
  color: #8bc34a;
  cursor: pointer;
  transition:.5s;
}
.actions li  :hover {
      color: #4CAF50  ;
      transform: rotate(22deg)
}
