.edit {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
    margin: 3% 10%;
    border: 0.5px solid rgba(0, 0, 0, 0.16);
    border-radius: 10px;
}
.box {
    padding: 2%;
}
.header-update h1 {
    font-size: 24px;
    color: rgb(66, 60, 60);
}
.header-update hr {
    margin-left: 0;
    color: #9DC183;
}
.name strong {
    color: #9DC183;
}
.btn-save {
    background-color: #9DC183;
    color: rgb(66, 60, 60);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 15px;
}

@media only screen and (max-width: 550px) {
    .edit {
        margin: 3% 5%;
    }
    .box {
        padding: 4% 6%;
    }
    .header-update h1 {
        font-size: 20px;
    }
    .btn-save {
        font-size: 16px;
    }
    .form-edit{
       font-size: 14px;
    }
}
