footer {
    width: 100%;
    position: absolute;
    background-color: white;
    /* background: linear-gradient(to right,#add393, #9dc183); */
    color: rgb(66, 60, 60);
    padding: 20px 150px;
    font-size: 15px;
    line-height: 20px;
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, .6);
}
.box-footer {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box-footer a{
    color: rgb(66, 60, 60);
    text-decoration: none;
}
.box1{
    width: 50%;
}
.box1 h1 {
    font-size: 40px;
    font-weight: 700;
    color: wheat;
}
.box1 h1 span {
    color: #9dc183;
}
.logo {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
}
.social a i{
    color: #9dc183;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    transition:.5s;
}
  .social a :hover {
        color: #4CAF50  ;
        transform: rotate(22deg)
  }
  
.box2 h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
ul li {
    list-style: none;
    margin-bottom: 10px;
    font-weight: 500;
}
.copyright {
    text-align: center;
}

@media only screen and (max-width: 550px) {
    footer {
        padding: 20px 10px;
        font-size: 15px;
        line-height: 20px;
    }
    .box-footer {
        display: block;
    }    
    .box1{
        width: 100%;
    }    
}