.promo-kafe{
    justify-content: center;
    height: 85vh;
}
.carousel-item section {
    justify-content: space-between;
    gap: 10%;
}
.note {
    /* border: 2px solid; */
    margin: auto 0 auto 6%;
    padding: 2%;
    width: 450px;
    box-sizing: border-box;
}
.note small {
    display: block;
    line-height: 0.5;
    font-size: 20px;
    font-weight: 600;
    color: #9DC183;
}
.note strong {
    color: rgb(63, 55, 55);
    font-size: 60px;
}
.note p {
    margin-top: 10px;
    line-height: 1.2;
}
.note p span {
    color: rgb(63, 55, 55);
    font-weight: 700;
    margin-right: 10px;
    font-size: 18px;
}
.img-carousel {
    /* border: 2px solid; */
    margin: 1% 5% 1% 0;
    width: 600px;
    height: 100%;
    box-sizing: border-box;
}
.img-carousel img {
    padding: 2% 8%;
    height: 80vh;
    width: 100%;
}
.produk {
    /* background-image: linear-gradient(to bottom, white, ); */
    margin-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
    gap: 80px;
}
.nav-page {
    padding-top: 10px;
    /* background-color: wheat ; */
    text-align: center;
    padding-bottom: 10px;
}
.card {
    /* border: 2px solid; */
    width: 14rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}
.img img {
    width: 14rem;
    height: 10rem;
    padding: 3%;
}
.card-body h3 {
    /* border: 2px solid; */
    /* padding: 1%; */
    text-align: center;
    color: rgb(63, 55, 55);
    font-size: 20px;
    height: 7vh;
}
.card-body h5{
    /* border: 2px solid; */
    text-align: justify;
    font-size: 13px;
    height: 15vh;
    color: rgb(0,0, 0, .7);
}
.jumlah {
    display: flex;
    text-align: justify;
    justify-content: space-between;
}
.card-body h4 {
    /* border: 2px solid; */
    padding: 2% 3%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: rgb(63, 55, 55);
}
.qty{
    margin-bottom: 3%;
    border: 1px solid rgba(0, 0, 0, 0.3) ;
    border-radius: 5px;
    text-align: center;
    padding: 1% 3%;
}
.qty span {
    text-align: center;
}
/* .min,
.plus {
    border: none;
    border: 2px solid;
    height: 25px;
    width: 25px;
    text-align: center;
    background-color: white;
} */
.green{
    color: rgb(39, 189, 39);
    height: 25px;
    width: 25px;
    border: 0;
    background-color: white;
}
.gray{
    color: gray;
    height: 25px;
    width: 25px;
    border: 0;
    background-color: white;
}
.buy {
    text-align: center;
    width: 100%;
    background-color: #9DC183;
    padding: 1%;
    margin: 2% 0;
    border-radius: 5px;
}
.card-body a {
    color: rgb(63, 55, 55);
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s;
}
/* .buy :hover {
    width: 100%;
    background-color: #76975e;
    cursor: pointer;
} */

@media only screen and (min-width: 360px) and (max-width: 600px) {
    .carousel-item img {
        padding: 8% 10%;
        height: 300px;
    }
    .produk {
        padding-bottom: 10%;
    }
    .card-produk{
        gap: 10px;
    }
    .promo-kafe{
        justify-content: center;
        height: 85vh;
    }
    .carousel-item section {
        justify-content: space-between;
        gap: 10%;
    }
    .note {
        /* border: 2px solid; */
        margin: auto 0 auto 6%;
        padding: 2%;
        width: 450px;
        box-sizing: border-box;
    }
    .note small {
        display: block;
        line-height: 0.5;
        font-size: 20px;
        font-weight: 600;
        color: #9DC183;
    }
    .note strong {
        color: rgb(63, 55, 55);
        font-size: 60px;
    }
    .note p {
        margin-top: 10px;
        line-height: 1.2;
    }
    .note p span {
        color: rgb(63, 55, 55);
        font-weight: 700;
        margin-right: 10px;
        font-size: 18px;
    }
    .img-carousel {
        /* border: 2px solid; */
        margin: 1% 5% 1% 0;
        width: 600px;
        height: 100%;
        box-sizing: border-box;
    }
    .img-carousel img {
        padding: 2% 4%;
        height: 80vh;
        width: 100%;
    }
    .promo-kafe{
        height: 100%;
    }
    .carousel-item section {
        gap: 2%;
    }
    .note {
        /* border: 2px solid; */
        margin: 4% 0 4% 6%;
        padding: 2%;
        width: 300px;
        box-sizing: border-box;
    }
    .note small {
        display: block;
        line-height: 0.5;
        font-size: 13px;
        font-weight: 600;
        color: #9DC183;
    }
    .note strong {
        color: rgb(63, 55, 55);
        font-size: 26px;
    }
    .note p {
        margin-top: 10px;
        font-size: 12px;
        line-height: 1.2;
        text-align: justify;
    }
    .note p span {
        color: rgb(63, 55, 55);
        font-weight: 700;
        margin-right: 10px;
        font-size: 12px;
    }
    .img-carousel {
        /* border: 2px solid; */
        margin: auto 6% auto 0;
        width: 400px;
        height: 100%;
        box-sizing: border-box;
    }
    .img-carousel img {
        padding: 2% 8%;
        height: 100%;
        width: 100%;
    }
    .card-body h3 {
        font-size: 18px;
        height: 8vh;
    }
    .card-body h4 {
        font-size: 16px;
    }
  }