.homeadmin {
    width: 100%;
    height: auto;
}
.data-product {
    padding-top: 5%;
}
.table-admin table thead tr {
    color: white;
}
.table-admin table thead tr th {
    text-align: center;
}
.data-produk td {
    text-align: center;
}
.data-produk .deskripsi-produk{
    text-align: justify;
    width: 50%;
}
.data-produk .nama-produk {
    text-align: justify;
    width: 20%;
}
.harga-produk {
    width: 10%;
}
.aksi-admin {
    width: 10%;
}
.gambar-produk {
    width: 10%;
}
.tombol{
    border: none;
    border-radius: 10px;
}
.tombol i {
    font-weight: 500;
    color: white;
    font-size: 18px;
}
.delete {
    background-color: red;
    margin-bottom: 10px;
}
.ubah {
    background-color: rgb(253, 174, 27);
}
.gambar-produk img {
    width: 120px;
    height: 90px;
}
@media only screen and (min-width: 360px) and (max-width: 600px) {
    .table-admin tr th {
        font-size: 12px;
    }
    .table-admin tr td {
        font-size: 11px;
        line-height: 12px;
    }
    .tombol i {
        color: white;
        font-size: 11px;
        padding: 3%;
    }
    .delete {
        background-color: red;
        /* margin-bottom: 10px; */
    }
    .ubah {
        background-color: rgb(253, 174, 27);
    }
    .gambar-produk img {
        width: 50px;
        height: 40px;
    }    
}