.form-login {
    height: 100vh;
}
.form-login .section-login {
    display: flex;
}
.form-login h1 {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin-top: 2%;
    color: wheat;
}
.form-login h1 span {
    color: #9DC183;
}
.login {
    border: 0.1px solid rgb(189, 188, 188);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
    padding: 1% 2% 2% 2%;
    margin: 6% 0 4% 8%;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
}
.login header {
    display: inline-flex;
    gap: 200px;
}
.login header h2 {
    color: rgb(66, 60, 60);
    font-weight: 700;
    font-size: 36px;
}
.login header h2 a {
    text-decoration: none;
    color: #9DC183;
    font-size: 20px;
}
.login strong {
    color: #9DC183;
}
.placeholder-login {
    height: 50%;
    font-size: 16px;
}
.btn-login {
    margin-top: 10px;
    width: 100%;
    padding: 1%;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 500;
    background-color: #9DC183;
    border: none;
    margin-top: 10%;
} 
.img-login {
    margin: 4% 8% 4% 0;
}
.img-login img{
    height: 70vh;
    width: 100%;
}

@media only screen and (min-width: 360px) and (max-width: 600px) {
    .form-login {
        height: 100%;
    }
    .form-login .section-login {
        display: block;
    }    
    .form-login h1 {
        font-size: 36px;
        margin-top: 2%;
    }
    .login {
        padding: 1% 3% 3% 3%;
        margin: 6% 10%;
        width: 80%;
    }
    .login header {
        gap: 50px;
    }
    .login header h2 {
        font-size: 32px;
    }
    .login header h2 a {
        font-size: 16px;
    }
    .img-login {
        margin: 4% 8%;
    }
    .img-login img{
        height: 50vh;
        width: 100%;
    }
}