.navbar nav {
    background-color: #fff;
    box-shadow: 0 4px 2px -2px #9DC183;
    padding-left: 8%;
    padding-right: 8%;
}
.container-fluid a h1{
    padding-right: 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 2%;
    color: wheat;
}
.container-fluid a h1 span{
    color: #9DC183;
}
/* .container-fluid a img{
    width: 50px;
    height: auto;
} */
.navbar-nav li a{
    font-size: 20px;
    font-weight: 500;
    color: rgb(63, 55, 55);
    cursor: pointer;
}
.header {
    background-color: #9DC183;
    color: rgb(63, 55, 55);
}
.mb-3 strong {
    color: rgb(63, 55, 55);
}

@media only screen and (max-width: 550px) {
    .navbar {
        padding-left: 5%;
        padding-right: 5%;
    }
    .container-fluid a img{
        width: 50px;
    }
    .navbar-nav a{
        font-size: 18px;
        font-weight: 500;
        color: rgb(82, 56, 22);
    }
    
}