.profiluser {
    height: 100vh;
    background-image: url("../image/pngegg\ \(15\).png");
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
}
header {
    padding-top: 20px;
    margin-left: 50px;
}
.profil hr {
    color: #9DC183;
    margin-left: 30px;
    margin-right: 30px;
}
h1{
    font-size: 20px;
}
h3{
    font-size: 16px;
}
/* SECTION */
.profil .myprofil {
    height: 75vh;
    gap: 10%;
}
/* FOTO PROFILE */
.foto {
    /* border: 2px solid; */
    margin: auto 0 auto 10%;
    width: 360px;
    height: 360px;
    box-sizing: border-box;
}
.foto img {
    /* border: 2px solid; */
    margin: 15px;
    width: 320px;
    height: 320px;
    box-sizing: border-box;
    border-radius: 50%;
}
.foto p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10%;
}
/* END FOTO PROFILE */
.data-user {
    background-color: white;
    border: 0.1px solid rgb(189, 188, 188);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
    padding: 3% 2%;
    margin: auto 10% auto 0;
    box-sizing: border-box;
    width: 100%;
}
.data-user .ul {
    display: flex;
    gap: 10%;
}
.profiluser {
    font-weight: 300;
}
.btn-update button {
    border: none;
    background-color: #8bc34a;
    border-radius: 5px;
    font-size: 17px;
    padding: 5px 8px;
    font-weight: 600;
}
section {
    display: flex;
    justify-content: space-between;
}
.user-update strong {
    color: #9DC183;
}
.user-update .input-user{
    font-size: 15px;
}


@media only screen and (min-width: 360px) and (max-width: 600px) {
    .profiluser {
        height: 100%;
    }
    header {
        margin-left: 6%;
    }
    hr {
        margin-left: 3%;
        margin-right: 3%;
    }
    h1{
        font-size: 18px;
    }
    h3{
        font-size: 14px;
    }
    .profil .myprofil {
        height: 100%;
        display: block;
    }
    .foto {
        /* border: 2px solid; */
        margin: 5% auto;
        width: 260px;
        height: 260px;
        box-sizing: border-box;
    }
    .foto img {
        /* border: 2px solid; */
        margin: 5% 12%;
        width: 75%;
        height: 75%;
        box-sizing: border-box;
        border-radius: 50%;
    }
    .foto p {
        font-size: 16px;
        margin-top: 3%;
    }
    .data-user {
        padding: 3% 2%;
        margin: 10% 0;
    }
    .data-user .ul {
        display: flex;
        gap: 2%;
        font-size: 14px;
    }    
    .btn-update{
        margin: 2% 4%;
    }
    .btn-update button {
        font-size: 14px;
        padding: 3px px;
    }
}
