.form-register {
    height: 100vh;
    justify-content: space-between;
}
.register {
    border: 0.1px solid rgb(189, 188, 188);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
    padding: 4px 20px;
    margin: 1% 8% 1% 0;
    box-sizing: border-box;    
}
.register h1 {
    font-size: 26px;
    color: rgb(66, 60, 60);
    text-align: center;
    font-weight: 700;
}
.register p {
    text-align: center;
    color:  rgb(80, 71, 71);
}
.register a {
    text-decoration: none;
    font-weight: 700;
    color: #9DC183;
}
.register hr {
    margin: 0 5% 2% 5%;
    color: #9DC183;
}
.register strong {
    color: #9DC183;
    padding: 0 5%;
}
.register .placeholder {
    width: 400px;
    height: 50%;
    font-size: 16px;
    background-color: white;
}
.register .buton-btn {
    margin-top: 12%;
    width: 100%;
    padding: 1%;
    font-size: 18px;
    border-radius: 10px;
    background-color: #9DC183;
    border: none;
}
.register .buton-btn strong{
    color: white;
}
.img-register{
    /* border: 2px solid; */
    margin: auto 0 auto 8%;
    box-sizing: border-box;
}
.img-register img {
    padding-top: auto;
    padding-bottom: auto;
    height: 70vh;
    width: 100%;
}
.img-register h2{
    font-size: 24px;
    line-height: 1;
    text-align: center;
    font-weight: 700;
}
.img-register p {
    font-size: 16px;
    text-align: center;
    color: rgb(80, 71, 71);
}
.mini-footer {
    margin: 2%;
    text-align: center;
    font-size: 15px;
}
.mini-footer strong {
    color: wheat;
}
.mini-footer strong span {
    color: #9DC183;
}

@media only screen and (max-width: 550px) {
    .form-register {
        height: 100%;
        display: block;
    }
    .img-register{
        margin: 5% 3%;
    }    
    .img-register img {
        height: 50%;
        width: 100%;
    }
    .img-register h2{
        font-size: 20px;
    }
    .img-register p {
        font-size: 12px;
    }
    .register {
        padding: 20px;
        margin: 10% 4%;
    }
    .register h1 {
        font-size: 22px;
        font-weight: 700;
    }
    .register p {
        font-size: 14px;
    }
    .mini-footer {
        margin: 4%;
    }    
}